<p id="notice"><%= notice %></p>

<p>
  <b>Accountnr:</b>
  <%= @account.accountnr %>
</p>

<p>
  <b>Pass:</b>
  <%= @account.pass %>
</p>

<p>
  <b>Mail:</b>
  <%= @account.mail %>
</p>

<p>
  <b>Active:</b>
  <%= @account.active %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
